@model IEnumerable<Movie_Hunter_FinalProject.Models.UserMovies>

@{
    ViewData["Title"] = "Index";
    var series=(List<UserSeries>) ViewBag.series;

}



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MovieHunter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>


<header>Watch List</header>
<div id="shell">
<div id="main">
    <div id="content">
        <div class="box">
           
 
 @{
    var movies = Model.ToList();
    var rowsCount = (int)Math.Ceiling((double)movies.Count / 6);
 }


  <div class="container-fluid row">
     @foreach (var item in Model){
                     
  <div class=" col-2 m-2">
  
    <div class="movie-card">

         <div class="movie">
                            <div class="movie-image">
                            <a asp-area="MovieSeries" asp-controller="MovieShow" asp-action="Details" asp-route-id="@item.MovieId">
                             <span class="play"><span class="name">@item.movies.Name</span></span>
                            <img src=@item.movies.Thumbnail_Path alt="" />
                            </a> 
                            </div>
                            </div>
                            <div class="title-wrapper">
                                   <a asp-area="MovieSeries" asp-controller="MovieShow" asp-action="Details" asp-route-id="@item.MovieId">

                                        <h3 class="card-title">@item.movies.Name</h3>
                                    </a>

                                    <time datetime="2022">2022</time>
                                </div>

                                <div class="card-meta">
                                    <div class="badge badge-outline">2K</div>

                                    <div class="duration">
                                        <ion-icon name="time-outline"></ion-icon>

                                        <time datetime="PT51M">@item.movies.Duration</time>
                                    </div>

                                    <div class="rating">
                                        <ion-icon name="star"></ion-icon>

                                        <data>@item.movies.Rating</data>
                                    </div>
                                </div>
   
                            </div>

    
  </div>
  }



                    @*series-----------------------------------------------------*@

@foreach (var item in series)
                    {
                     
  <div class=" col-2 m-2">

       <div class="movie-card">

         <div class="movie">
                            <div class="movie-image">
                            <a asp-area="MovieSeries" asp-controller="MovieShow" asp-action="Details" asp-route-id="@item.SeriesId">
                             <span class="play"><span class="name">@item.series.Name</span></span>
                            <img src=@item.series.Thumbnail_Path alt="" />
                            </a> 
                            </div>
                            </div>
                            <div class="title-wrapper">
                                   <a asp-area="MovieSeries" asp-controller="MovieShow" asp-action="Details" asp-route-id="@item.SeriesId">

                                        <h3 class="card-title">@item.series.Name</h3>
                                    </a>

                                    <time datetime="2022">2022</time>
                                </div>

                                <div class="card-meta">
                                    <div class="badge badge-outline">2K</div>

                                 

                                    <div class="rating">
                                        <ion-icon name="star"></ion-icon>

                                        <data>@item.series.Rating</data>
                                    </div>
                                </div>
   
                            </div>
  </div>

                    }
                  

                    

  </div>

  <script src="./assets/js/script.js"></script>

    <!--
      - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    @*
    <script src="../BootStrap/bootstrap.bundle.js"></script>
    <script src="../JS/Movie.js"></script>*@
    
    <script src="~/js/Movie.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
