@{
Layout = null;
var SelectedSeries = (Series)Model;
var CatName = ViewBag.CatName;
var allSeriesCat = ViewBag.allSeriesCat ;
UserSeries MyUser = (UserSeries)ViewBag.User;
var myEpisodes=(List<Episodes>) ViewBag.Episodes;
}

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Guy 2021</title>

    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!--
      - custom css link
    -->
    <!--
      - google font link
    -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/movie.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script>
        document.getElementById("FavMovie").addEventListener("click", () => {
        @{
            if(MyUser.AddToFavorite == false || MyUser.AddToFavorite ==null)
            {
                MyUser.AddToFavorite = true;
            }
            else
            {
                MyUser.AddToFavorite = false;
            }
        }
            if(@MyUser.AddToFavorite = true)
            document.getElementById("FavStar").classList.add('full');
            else
            document.getElementById("FavStar").classList.remove('full');
        })
    </script>

</head>

<body id="#top" style="background-color:black">
    <!--
      - #HEADER
    -->

    <header class="header" data-header>
        <div class="container"></div>
    </header>

    <main>
        <article>

            <!--
              - #MOVIE DETAIL
            -->

            <section class="movie-detail">
                <div class="container">
                       @*<iframe width="560" height="315" src="@SelectedMovie.Trailer_Path" title="Video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>*@

                    <a href="@SelectedSeries.Trailer_Path" target="_blank">
                    <figure class="movie-detail-banner">

                        <img src=@SelectedSeries.Thumbnail_Path class="MoviePoster" alt="Series poster" style="width:300px;height:450px;">

                        <button class="play-btn">
                            <ion-icon name="play-circle-outline"></ion-icon>
                            <span class="playTrailer">Play trailer</span>
                        </button>

                        </figure>
                    </a>
                    <div class="movie-detail-content">

                        <p class="detail-subtitle">New Episodes</p> 
                    

                               

                          
                        <h1 class="h1 detail-title" >
                             <strong>@SelectedSeries.Name</strong>
                        </h1>

                                  <h4 class="mySeason">Season @SelectedSeries.NumberOfSeasons</h4>
                        <div class="meta-wrapper">

                            <div class="badge-wrapper">
                                <span id="MovieRate">@SelectedSeries.Rating/10</span>

                                <div class="badge badge-outline">HD</div>
                            </div>
                            <div class="ganre-wrapper">
                                <a href="#">@CatName</a>
                                <span class="star-icon" id="RatingStar">☆</span>
                                <a data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    style="color: rgb(255, 255, 255); cursor: pointer;">Rate</a>
                                <input type="text" value="@SelectedSeries.id" name="movieID" hidden/>
                                @{if(MyUser.AddToFavorite==false)
                                  {
                                        <span class="star-icon" id="FavStar">☆</span>
                                    }

                                    else
                                    {
                                        <span class="star-icon full" id="FavStar">☆</span>
                                    }
                                }
                                <button id="FavMovie">
                                <a asp-area="MovieSeries" asp-controller="SeriesShow" asp-action="GetFavourite" asp-route-Fav="@MyUser.AddToFavorite" asp-route-movieID="@MyUser.SeriesId">Favourite</a>
                                </button>

                            </div>

                            <form method="post" asp-area="MovieSeries" asp-controller="SeriesShow" asp-action="GetRating" >
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Your Rating</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="rating-box">
                                            <div class="rating-container">
                                                <input type="text" value="@SelectedSeries.id" name="movieID"/>
                                                <input type="radio" name="rating" value="10" id="star-1"> <label
                                                    for="star-1">&#9733;</label>

                                                <input type="radio" name="rating" value="9" id="star-2"> <label
                                                    for="star-2">&#9733;</label>

                                                <input type="radio" name="rating" value="8" id="star-3"> <label
                                                    for="star-3">&#9733;</label>

                                                <input type="radio" name="rating" value="7" id="star-4"> <label
                                                    for="star-4">&#9733;</label>

                                                <input type="radio" name="rating" value="6" id="star-5"> <label
                                                    for="star-5">&#9733;</label>
                                                <input type="radio" name="rating" value="5" id="star-6"> <label
                                                    for="star-6">&#9733;</label>

                                                <input type="radio" name="rating" value="4" id="star-7"> <label
                                                    for="star-7">&#9733;</label>

                                                <input type="radio" name="rating" value="3" id="star-8"> <label
                                                    for="star-8">&#9733;</label>

                                                <input type="radio" name="rating" value="2" id="star-9"> <label
                                                    for="star-9">&#9733;</label>

                                                <input type="radio" name="rating" value="1" id="star-10"> <label
                                                    for="star-10">&#9733;</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" id="SaveRating" data-bs-dismiss="modal">
                                                @*<a asp-area="MovieSeries" asp-controller="MovieShow" asp-action="GetRating" asp-route-MovieID="@SelectedMovie.id">Save Changes</a>*@
                                               Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>

                        

                        </div>

                        <p class="storyline">
                            @SelectedSeries.Description
                      
                        </p>

                        @*<div class="details-actions">

                            <button class="btn btn-primary" id="watchMovieBtn">
                                <ion-icon name="play"></ion-icon>

                                <span>Watch Now</span>
                            </button>

                        </div>*@

                        @* <a href="./assets/images/movie-4.png" download class="download-btn">
                            <span>Download</span>

                            <ion-icon name="download-outline"></ion-icon>
                        </a>*@

                    </div>

                </div>
            </section>

            <video id="myMovie" style="width:100%" controls="controls">
                @*<source src="~/movies/@SelectedSeries.Series_Path" type="audio/webm" />*@
            </video>

            <!--
              - #TV SERIES
            -->

            <section class="tv-series">
                <div class="container">

                   <p class="section-subtitle">Best TV Series</p>

                    <h2 class="h2 section-title">Episodes</h2>

                    <ul class="movies-list">
                            @foreach(Episodes episode in myEpisodes)
       
                            {
                                <li>
                                  <div class="movie-card">
                                   <a asp-area="MovieSeries" asp-controller="SeriesShow" asp-action="EpisodeDetails"  asp-route-id="@episode.Id">
                                    <figure class="card-banner">
                                        <img src="@SelectedSeries.Thumbnail_Path" alt="Series poster">
                                    </figure>
                                   </a>
                                  
                                <div class="title-wrapper">
                                     <a asp-area="MovieSeries" asp-controller="SeriesShow" asp-action="EpisodeDetails"  asp-route-id="@episode.Id">
                                        <h3 class="card-title">@episode.Title</h3>
                                   </a>
                                   

                                    @*<time datetime="2022">2022</time>*@
                                </div>

                                <div class="card-meta">
                                    <div class="badge badge-outline">HD</div>

                                    <div class="duration">
                                        <ion-icon name="time-outline"></ion-icon>

                                        <time datetime="PT47M">@episode.duration</time>
                                    </div>

                                    <div class="rating">
                                        <ion-icon name="tv-outline</ion-icon>"></ion-icon>

                                        <data>Season @episode.season</data>
                                    </div>
                                </div>

                            </div>
                            </li>
                            }

                           

                    </ul>

                </div>
            </section>

        </article>
    </main>

    <!-- Button trigger modal
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button> -->

    <!-- Modal -->



    <!--
      - #GO TO TOP
    -->

    <a href="#top" class="go-top" data-go-top>
        <ion-icon name="chevron-up"></ion-icon>
    </a>



    <!--
      - custom js link
    -->
    @*<script>
        if(@MyUser.AddToFavorite==true)
        {
            document.getElementById("FavStar").classList.add('full');
        }
    </script>*@
    
    <script src="./assets/js/script.js"></script>

    <!--
      - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    @*
    <script src="../BootStrap/bootstrap.bundle.js"></script>
    <script src="../JS/Movie.js"></script>*@
    
    <script src="~/js/Movie.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
</body>

</html>