@using Microsoft.Extensions.Options
@using Stripe_Payment.Areas.Payment.Models;
@inject IOptions<StripSetting> Stripee


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
  
}
body{
            background-color: black;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 45px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
  background-color: palevioletred;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

/*.button {
  background-color: #04AA6D;
  border: none;
  color: orange;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}*/
h1{
    text-align:center;
    color:orange
}
table{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center
}
th{
    color:orange
}


</style>
</head>
<body>
<div id="shell" style="font-size:25px">
    <h1>Select your Suitable Plan</h1>

    <br /><br />
    <div class="row">
        <div class="col-4">
            <div class="card" style="background-color:#ffe0b3;color:orange">
                
                <table class="table table-hover" style="background-color:#ffe0b3;color:orange">
                   
                    <tr><th>Basic</th></tr>
                    <tr><td>$ 34.99 / year</td></tr>
                    <tr><td>Good Quality</td></tr>
                    <tr><td>720P</td></tr>
                    <tr><td>TV support</td></tr>
                    <tr><td>100GB Surfing</td></tr>
                    <tr>
                        <td>
                         <form asp-action="Charge" asp-controller="Payments" asp-area="Payment" method="POST">
                                    <input type="text" name="test" value="3500" style="display:none" />
                                    <input type="text" name="plan" value="Basic" hidden />
                            <script src="//checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button"
                                    data-key="@Stripee.Value.PublishableKey"
                                    data-locale="auto"
                                    data-description="test Charge">
                            </script>
                        </form>
                            </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="background-color:#ffe0b3;color:orange">
                <table class="table table-hover" style="background-color:#ffe0b3;color:orange">
                    <tr><th>Pro</th></tr>
                    <tr><td>$ 99.99 / year</td></tr>
                    <tr><td>Excellent Quality</td></tr>
                    <tr><td>4K+HDR</td></tr>
                    <tr><td>All Devices support</td></tr>
                    <tr><td>Unlimited Surfing</td></tr>
                    <tr>
                            <td>
                        <form action="Payments/Charge" method="POST">
                                    <input type="text" name="test" value="10000" style="display:none" />
                                    <input type="text" name="plan" value="Pro" hidden  />
                            <script src="//checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button"
                                    data-key="@Stripee.Value.PublishableKey"
                                    data-locale="auto"
                                    data-description="test Charge">
                            </script>
                        </form>
                            </td>
                    </tr>
                </table>
            </div>
        </div>
        
       

        <div class="col-4">
            <div class="card" style="background-color:#ffe0b3;color:orange">
                <table class="table table-hover" style="background-color:#ffe0b3;color:orange">
                    <tr><th>Premium</th></tr>
                    <tr><td>$ 69.99 / year</td></tr>
                    <tr><td>very Good Quality</td></tr>
                    <tr><td>1080P</td></tr>
                    <tr><td>TV & mobile support</td></tr>
                    <tr><td>200GB Surfing</td></tr>
                    <tr>
                            <td>
                        <form action="Payments/Charge" method="POST">
                                    <input type="text" name="test" value="7000" style="display:none" />
                                    <input type="text" name="plan" value="Premium" hidden />
                            <script src="//checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button"
                                    data-key="@Stripee.Value.PublishableKey"
                                    data-locale="auto"
                                    data-description="test Charge">
                            </script>
                        </form>
                            </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>






    </div>


@*
<div class="columns">
  <ul class="price">
    <li class="header">Basic</li>
    <li class="grey">$ 34.99 / year</li>
    <li>Good Quality</li>
    <li>720P</li>
    <li>TV support</li>
    <li>100GB Surfing</li>
            <li class="grey">
                <form action="Payments/Charge" method="POST">
                    <input type="text" name="test" value="3500" style="display:none" />
                    <script src="//checkout.stripe.com/v2/checkout.js"
                            class="stripe-button"
                            data-key="@Stripee.Value.PublishableKey"
                            data-locale="auto"
                            data-description="test Charge">
                    </script>
                </form>
            </li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#04AA6D">Pro</li>
    <li class="grey">$ 99.99 / year</li>
            
            <li>Excellent Quality</li>
            <li>4K+HDR</li>
            <li>All Devices support</li>
            <li>Unlimited Surfing</li>
        <li class="grey">
        <form action="Payments/Charge" method="POST">
                    <input type="text" name="test" value="10000" style="display:none" />
            <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@Stripee.Value.PublishableKey"
                data-locale="auto"
                data-description="test Charge">
             </script>
        </form>
    </li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">Premium</li>
    <li class="grey">$ 69.99 / year</li>
            <li>very Good Quality</li>
            <li>1080P</li>
            <li>TV & mobile support</li>
            <li>200GB Surfing</li>
    <li class="grey">
        <form action="Payments/Charge" method="POST">
             <input  type="text" name="test" value="7000" style="display:none"/>
            <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@Stripee.Value.PublishableKey"
                data-locale="auto"
                data-description="test Charge">
             </script>
        </form>
    </li>
  </ul>
</div>
    *@
</body>



</html>

























@*<form action="Payments/Charge" method="POST">
    <input type="text" name="test" value="99.99" style="visibility:hidden" />
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@Stripee.Value.PublishableKey"
            data-locale="auto"
            data-description="test Charge"
            data-amount="100"
    </script>
</form>*@
