@model IEnumerable<Movie_Hunter_FinalProject.Models.LookUpValues>

@{
    ViewData["Title"] = "Index";
}

<h1>All LookUp Values</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table id="example" class="display datatable" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lookUpTable)
            </th>
            <th>
                Edit
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lookUpTable.LookUpName)
            </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                </td>
                <td>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>

                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
@section DataTable {
    <script src="~/js/datatables2.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#example').DataTable({

                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]]
            });
        });
    </script>
}