@model IEnumerable<Movie_Hunter_FinalProject.Models.Movies>

@{
    ViewData["Title"] = "Index";
}

<h1>All Movies</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Movie</a>
</p>
<table id="example" class="display datatable" style="width:100%">
    <thead>
        <tr>
            <th>
               
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
               
                @Html.DisplayNameFor(model => model.Movie_Path)
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.Thumbnail_Path)
            </th>
            <th>
               
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Category
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.Trailer_Path)
            </th>
            <th>
                Edit
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie_Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thumbnail_Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lookUpValues.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trailer_Path)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.id">Edit</a> 
               
            </td>
               <td>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.id">Details</a>
                
              </td>
             <td>    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a></td>
        </tr>
}
    </tbody>
</table>
@section DataTable {
    <script src="~/js/datatables2.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#example').DataTable({

                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]]
            });
        });
    </script>
}