@model IEnumerable<Movie_Hunter_FinalProject.Models.UserMovies>
@*
@{
    ViewData["Title"] = "Index";
}

*@
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MovieHunter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<header>Favourites</header>
<div id="shell">
<div id="main">
    <div id="content">
        <div class="box">
 
 @{
    var movies = Model.ToList();
    var rowsCount = (int)Math.Ceiling((double)movies.Count / 6);
 }


  <div class="container-fluid row">
      @foreach (var item in Model)
                    {
                     
  <div class=" col-2 m-2">
  
  
    @*<a asp-action="" asp-controller="" asp-area="" asp-route-MovieId="@item.MovieId"><img src="@item.movies.Thumbnail_Path" alt="@item.movies.Name"></a>
    <h5 class="card-title">@item.movies.Name</h5>*@
    <div class="movie-card">
        
                                <a href="./movie-details.html">
                                    <figure class="card-banner">
                                        <img src="@item.movies.Thumbnail_Path" alt="@item.movies.Name poster">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="./movie-details.html">
                                        <h3 class="card-title">@item.movies.Name</h3>
                                    </a>

                                    <time datetime="2022">2022</time>
                                </div>

                                <div class="card-meta">
                                    <div class="badge badge-outline">2K</div>

                                    <div class="duration">
                                        <ion-icon name="time-outline"></ion-icon>

                                        <time datetime="PT51M">@item.movies.Duration</time>
                                    </div>

                                    <div class="rating">
                                        <ion-icon name="star"></ion-icon>

                                        <data>@item.movies.Rating</data>
                                    </div>
                                </div>

                            </div>

    
  </div>

                    }


  </div>
  